.login-container {
    margin: 80px 0;
}

.account-check-stack {
    display: flex !important;
}

.account-check-btn {
    text-transform: capitalize !important;
    padding: '0px' !important;
}

.logout-yes-btn {
    color: #ffffff !important;
    background-color: rgb(25, 25, 219) !important;
}

.logout-no-btn {
    color: #ffffff !important;
    background-color: #dd2020 !important;
}