.div-container :hover{
    transform: scale(1.02);
    transition-timing-function: ease-in;
    transition: 0.4s
}

.product-card-container {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-card-container :hover{
    transform: scale(1);
    transition-timing-function: ease-in;
    transition: 0.4s
}

.edit-icon{
    margin-right: 10px;
    cursor: pointer;
}

.delete-icon{
    cursor: pointer;
}